<div class="pannel">
    <p class="common_title">收入总计</p>
    <p class="income_total_date">
        <input type="text" class="daterange" placeholder="创建日期"
               value="{{searchParams.orderTimeBegin.toDate() | date:'yyyy/MM/dd'}} - {{searchParams.orderTimeEnd.toDate() | date:'yyyy/MM/dd'}}" />
        <span></span>
    </p>
    <div class="clearfix"></div>
    <ul class="trade_data clearfix">
        <li>
            <p class="data_name">订单数（笔）</p>
            <p class="data_figure">{{dataSummary.orderCount}}</p>
        </li>
        <li>
            <p class="data_name">成交金额（元）</p>
            <p class="data_figure">{{dataSummary.orderTotalFee}}</p>
        </li>
    </ul>
    <div class="wrap">
        <div class="left homepage_title chart_back">
            <p class="homepage_title_infor">交易量变化(笔)</p>
            <div id="chargeCount" class="echar_div"></div>
        </div>
        <div class="right homepage_title chart_back">
            <p class="homepage_title_infor">交易金额变化(元)</p>
            <div id="chargeFee" class="echar_div"></div>
        </div>
    </div>
</div>