*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei";
}
ul,li{
    list-style-type: none;
}
a:link{
    text-decoration: none;
    /*color: #ffffff;*/
}
input, select {
    /* width: 195px; */
    height: 40px;
    outline: none;
    border: 0;
    border: 1px solid #eef1f9;
    background-color: #fafbfe;
    border-radius: 3px;
}
input[type="radio"] {
    height: inherit;
}

input:read-only, input:disabled {
    cursor: no-drop;
}

/*清除浮动*/
.clearfix{
    *zoom: 1;
}
.clearfix:before,.clearfix:after{
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after{
    clear: both;
}
/* 面板 */
.pannel {
    width: 100%;
    padding-bottom: 20px;
}
/* 面板标题 */
.common_title {
    padding-left: 25px;
    text-align: left;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    color: #354285;
    font-weight: bold;
    background-color: #fafbfe;
}
.page_wrap {
    text-align: right;
    margin-top: 20px;
    margin-right: 60px;
}
.epay{
    width: 100%;
    height: 78px;
    position: relative;
}
.epay_right{
    width: 85.9%;
    float: left;
}

/* 完全弹出框 */
.full-dialog {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: 0.3s;
    overflow-y: scroll;
}
.fd-header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #E7E7E7;
}
.fd-close {
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    position: absolute;
    right: 30px;
    top: 17px;
    background-image: url('/public/images/icon-close16x16@2x.png');
    cursor: pointer;
}
.fd-body {
    width: 68%;
    margin: 0 auto;
    max-width: 768px;
    min-width: 768px;
    padding: 65px 0;
}

/* 遮罩层 */
.dialog_mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(178,178,178,.7);
}

/* 弹出框 */
.notfull_dialog {
    position: absolute;
    top: 0;
    left: 50%;
    width: 440px;
    margin-top: 30px;
    margin-left: -220px;
    background-color: #ffffff;
    z-index: 99;
}
.nfd_title {
    font-size: 20px;
    color: #354285;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eef1f9;
}
.nfd_body {

}
.nfd_footer {
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}
.nfd_confirm {
    width: 380px;
    height: 200px;
    margin-left: -190px;
}
.confirm_body {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}
.confirm_body p {
    font-size: 15px;
    color: #354285;
    line-height: 30px;
}
.nfd_large {
    width: 600px;
    margin-left: -285px;
}
.nfd_tip {
    font-size: 14px;
    color: #4696e4;
    line-height: 35px;
    height: 35px;
    text-align: center;
}
.nfd_list {
    margin-left: 25px;
}
.nfd_list li {
    margin-bottom: 10px;
}
.nfd_list_name {
    display: inline-block;
    width: 110px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #354285;
    margin-right: 10px;
}

.nfd_list input, .nfd_list select {
    width: 390px;
    height: 28px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border: 1px solid #eef1f9;
    background-color: #fafbfe;
    border-radius: 3px;
}

.common_list{
    margin-left: 25px;
    margin-top: 20px;
}
.common_list li{
    margin-bottom: 20px;
}
.list_name{
    display: inline-block;
    width: 110px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #354285;
    margin-right: 20px;
}
.list_value {
    display: inline-block;
    width: 500px;
    text-align: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #797b84;
    margin-left: 50px;
}
.line {
    border-bottom: 1px solid #eef1f9;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 21px;
    margin-right: 21px;
}
.help_info {
    font-size: 16px;
    color: #d9deeb;
    width: 245px;
    margin: 0 auto;
    text-align: left;
    line-height: 20px;
}

.fill_btn{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    background-color: #4696e4;
    border: 0px;
}
.empty_btn{
    display: inline-block;
    background-color: #ffffff;
    margin-right: 10px;
    margin-left: 10px;
    width: 120px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border-radius: 3px;
    color: #4696e4;
    border: 1px solid #4696e4;
}