*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
}
ul,li{
    list-style-type: none;
}
a:link{
    text-decoration: none;
    /*color: #ffffff;*/
}
input,select {
    /* width: 195px; */
    height: 40px;
    outline: none;
    border: 0;
    border: 1px solid #eef1f9;
    background-color: #fafbfe;
    border-radius: 3px;
}
input:read-only {
    cursor: no-drop;
}

/*清除浮动*/
.clearfix{
    *zoom: 1;
}
.clearfix:before,.clearfix:after{
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after{
    clear: both;
}
.pannel {
    width: 100%;
    padding-bottom: 20px;
}
.common_title {
    padding-left: 25px;
    text-align: left;
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    color: #354285;
    font-weight: bold;
    background-color: #fafbfe;
}
.page_wrap {
    text-align: right;
    margin-top: 20px;
    margin-right: 60px;
}
.epay{
    width: 100%;
    height: 78px;
    position: relative;
}
.epay_right{
    width: 85.9%;
    float: left;
}
.full-dialog {
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: 0.3s;
    overflow-y: scroll;
}
.fd-header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #E7E7E7;
}
.close {
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    position: absolute;
    right: 30px;
    top: 17px;
    background-image: url('/public/images/icon-close16x16@2x.png');
    cursor: pointer;
}
.fd-body {
    width: 68%;
    margin: 0 auto;
    max-width: 768px;
    min-width: 768px;
    padding: 65px 0;
}