<!-- 应用首页 -->
<!--<h1>{{message}}</h1>-->
<div class="homepage">
    <div class="homepage_head clearfix">
        <my-header></my-header>
    </div>
    <div class="account_name_con">
        <ul class="logo_list clearfix">
            <li *ngFor="let application of applications">
                <a href="javascript:void(0);" routerLink="/apps/{{application.id}}">
                    <img src="{{application.logo}}" class="logo_img"/>
                    <p class="logo_name">{{application.name}}</p>
                    <p class="create_date">创建时间:{{application.createTime | date:'yyyy年MM月dd日'}}</p>
                </a>
                <a href="javascript:void(0);" routerLink="/apps/{{application.id}}/detail">
                    <span class="edit_icon"></span>
                </a>
                <a href="javascript:void(0);" (click)="openDeleteDialog(application)" >
                    <span class="delete_icon"></span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="openCreateDialog()">
                    <img src="/public/images/1.png" class="add_img"/>
                </a>
            </li>
        </ul>
    </div>
    <div [hidden]="!(showAdd || showDelete)" class="dialog_mask" (click)="cancel()"></div>

    <!--创建应用的弹出层， 不能用[hidden]="!showAdd"-->
    <div *ngIf="showAdd" class="notfull_dialog">
        <form (ngSubmit)="createApp()" #appCreateForm="ngForm">
            <p class="nfd_title">创建应用</p>
            <div class="nfd_body">
                <div class="app_name clearfix">
                    <p>应用名称</p>
                    <input type="text" name="appName" required [(ngModel)]="application.name" #appName="ngModel"
                           placeholder="输入你的应用名称" />
                    <div [hidden]="appName.valid || appName.pristine">应用名称必填</div>
                </div>
                <div class="app_logo clearfix">
                    <p class="app_logo_title">应用LOGO</p>
                    <div class="app_logo_img">
                        <img *ngIf="application.logo" src="{{application.logo}}" alt=""/>
                        <input type="file" class="file" accept="image/*"  (change)="upload($event)" />
                    </div>
                    <!-- 隐藏logo url -->
                    <input type="hidden" name="appLogo" required [(ngModel)]="application.logo"/>
                    <!--<p class="app_logo_btn" (click)="upload($event)" >上传</p>-->
                </div>
            </div>
            <div class="nfd_footer">
                <button type="submit" class="fill_btn" [disabled]="!appCreateForm.form.valid">保存</button>
            </div>
        </form>
    </div>

    <!--删除应用的弹出层， 不能用[hidden]="!showDelete"-->
    <div *ngIf="showDelete" class="notfull_dialog nfd_confirm">
        <p class="nfd_title">删除应用</p>
        <div class="nfd_body confirm_body">
            <p>删除应用不可恢复，确认删除？</p>
        </div>
        <div class="nfd_footer">
            <button class="empty_btn" (click)="cancel()">取消</button>
            <button type="button" class="fill_btn" (click)="deleteApp()" >确定</button>
        </div>
    </div>
</div>