<div class="epay_left">
    <div class="epay_homepage">
        <p class="epay_homepage_title"><span></span>个人信息</p>
        <div class="app_setting_min">
            <p><a routerLink="base">我的信息</a></p>
            <p><a routerLink="bind">更换绑定</a></p>
            <p><a routerLink="pwd-reset">修改密码</a></p>
        </div>
    </div>
    <div class="app_setting">
        <p class="app_setting_title"><span></span>渠道管理</p>
        <div class="app_setting_min">
            <p><a routerLink="wxpay">微信</a></p>
            <p><a routerLink="alipay">支付宝</a></p>
        </div>
    </div>
</div>