<form (ngSubmit)="saveAddress()" #webhookSettingForm="ngForm">
<div class="pannel">
    <p class="common_title">webhook设置</p>
    <ul class="common_list">
        <li>
            <p class="list_name">地址</p>
            <input type="text" name="webhookAdderss" required [(ngModel)]="address" #webhookAdderss="ngModel"
                   placeholder="输入回调地址">
            <div [hidden]="webhookAdderss.valid || webhookAdderss.pristine">应用名称必填</div>
        </li>
    </ul>
    <p style="text-align: center">
        <button type="submit" class="list_sure_btn" [disabled]="!webhookSettingForm.form.valid">保存</button>
    </p>
</div>
</form>