*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei";
}
a:hover{
    text-decoration: none;
}
/*清除浮动*/
.clearfix{
    *zoom: 1;
}
.clearfix:before,.clearfix:after{
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after{
    clear: both;
}
.login{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.login_con{
    width: 190px;
    height: 190px;
    margin: 0 auto;
    margin-top: 155px;
}
.login_title{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #354285;
    line-height: 20px;
}
.login_name{
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #eef1f9;
    margin-top: 20px;
}
.login_name span{
    position: absolute;
    left: 0px;
    top: 8px;
    width: 15px;
    height: 15px;
    background: url("/public/images/sprite.png") no-repeat;
    background-position: -35px -282px;
}
.login_name input{
    background-color: #ffffff;
    width: 165px;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    line-height: 30px;
}
.login_password{
    position: relative;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #eef1f9;
    margin-top: 20px;
}
.login_password span{
    position: absolute;
    left: 0px;
    top: 8px;
    width: 15px;
    height: 15px;
    background: url("/public/images/sprite.png") no-repeat;
    background-position: -35px -260px;
}
.login_password input{
    background-color: #ffffff;
    width: 165px;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 16px;
    padding-left: 20px;
    line-height: 30px;
}
.login_btn{
    width: 100%;
    height: 25px;
    border: 0px;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;;
    background-color: #354285;
    font-size: 14px;
    color: #ffffff;
    margin-top: 30px;
}

.signup {
    margin-top: 15px;
}
.foget_pwd {
    margin-top: 5px;
    float: right;
}

.login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -330px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    width: 380px;
    height: 380px;
    box-shadow: #999 0 2px 10px;
    -moz-box-shadow: #999 0 2px 10px;
    -webkit-box-shadow: #999 0 2px 10px;
}
.login_box .qrcode {
    text-align: center;
}
.login_box .qrcode .img {
    display: block;
    width: 276px;
    height: 276px;
    margin: 42px auto 5px;
}
.login_box .qrcode .extension {
    margin-top: 40px;
    display: inline-block;
    text-align: left;
}
.login_box .qrcode .sub_title {
     text-align: center;
     font-size: 12px;
     color: #353535;
 }