<div class="usual_setting block_show">
    <p class="common_title">更换绑定</p>
    <form (ngSubmit)="changeMobile()" #mobileChangeForm="ngForm">
        <ul class="usual_setting_list">
            <li>
                <p class="list_name">手机号</p>
                <input type="text" value="{{profile.mobile}}" readonly />
            </li>
            <li>
                <p class="list_name">验证码</p>
                <input type="text" name="mcode" required [(ngModel)]="mcode" #_mcode="ngModel" style="width: 100px"
                       placeholder="输入验证码" />
                <a (click)="sendMobileCode()" >获取验证码</a>
                <div [hidden]="_mcode.valid || _mcode.pristine">验证码必填</div>
            </li>
            <li>
                <p class="list_name">新手机号</p>
                <input type="text" name="mobile" required [(ngModel)]="mobile" #_mobile="ngModel"
                       placeholder="输入新手机" />
                <div [hidden]="_mobile.valid || _mobile.pristine">新手机号必填</div>
            </li>
        </ul>
        <p style="text-align: center">
            <button type="submit" class="list_sure_btn" [disabled]="!mobileChangeForm.form.valid">保存</button>
        </p>
    </form>
    <div class="line"></div>
    <form (ngSubmit)="changeEmail()" #emailChangeForm="ngForm">
        <ul class="usual_setting_list">
            <li>
                <p class="list_name">邮箱</p>
                <input type="text" value="{{profile.email}}" readonly />
            </li>
            <li>
                <p class="list_name">验证码</p>
                <input type="text" name="ecode" required [(ngModel)]="ecode" #_ecode="ngModel" style="width: 100px"
                       placeholder="输入验证码" />
                <a (click)="sendEmailCode()" >获取验证码</a>
                <div [hidden]="_ecode.valid || _ecode.pristine">验证码必填</div>
            </li>
            <li>
                <p class="list_name">新邮箱</p>
                <input type="text" name="email" required [(ngModel)]="email" #_email="ngModel"
                       placeholder="输入新邮箱" />
                <div [hidden]="_email.valid || _email.pristine">新邮箱必填</div>
            </li>
        </ul>
        <p style="text-align: center">
            <button type="submit" class="list_sure_btn" [disabled]="!emailChangeForm.form.valid">保存</button>
        </p>
    </form>
</div>
