<div class="channel_choice block_show">
    <p class="common_title">渠道选择</p>
    <div>
        <div class="choose-channel clearfix">
            <a href="javascript:void(0);" [ngClass]="{'active': showNum==0}" (click)="showNum = 0" >移动端</a>
            <a href="javascript:void(0);" [ngClass]="{'active': showNum==1}" (click)="showNum = 1">PC端</a>
            <a href="javascript:void(0);" [ngClass]="{'active': showNum==2}" (click)="showNum = 2">WAP端</a>
        </div>
        <div *ngFor="let cs of channels;let i = index">
            <ul [hidden]="!(showNum == i)" class="epay_type clearfix">
                <li *ngFor="let c of cs">
                    <div [ngClass]="{'channel_disable': c.status==0}" >
                        <div class="clearfix">
                            <div class="toggle_switch_wrapper">
                                <input type="checkbox" class="toggle_switch"
                                       [checked]="c.status==1" [(ngModel)]="c.status" (change)="setChannelStatus(c)" />
                            </div>
                        </div>
                        <div [ngClass]="{'epay_type_logo': true, 'wechat_logo': c.pcode == 'WX', 'zhifubao_logo': c.pcode == 'ALI'}" ></div>
                        <p *ngIf="c.choiceName" [ngClass]="{'epay_type_account': true, 'choose_disable': c.status==0}" (click)="chooseChannel(c)" >账号：{{c.choiceName}}<span></span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div [hidden]="channelChoose == -1" class="dialog_mask" (click)="cancel()" ></div>
<!--有账号-->
<div [hidden]="channelChoose != 1" class="notfull_dialog">
    <p class="nfd_title">请选择微信支付账号</p>
    <div class="nfd_body">
        <ul class="account_list">
            <li *ngFor="let cc of chooseChannels;let i = index" >
                <label>
                    <input name="account" type="radio" [checked]="cc.id == currentChannel.choiceId"
                           (click)="choicedId = cc.id" value="{{cc.id}}"> {{cc.name}}
                </label>
            </li>
        </ul>
    </div>
    <div class="nfd_footer clearfix">
        <a routerLink="/profile/channels/wxpay"><p class="empty_btn">添加新账号</p></a>
        <button type="button" class="fill_btn" [disabled]="!choicedId" (click)="saveChoosedChannel()" >保存</button>
    </div>
</div>
<!--无账号-->
<div [hidden]="channelChoose != 2" class="notfull_dialog">
    <p class="nfd_title">请选择微信支付账号</p>
    <div class="nfd_body">
        <p class="has_none_account">暂无支付账号</p>
    </div>
    <div class="nfd_footer clearfix">
        <a routerLink="/profile/channels/wxpay"><p class="fill_btn">添加新账号</p></a>
    </div>
</div>
