.channel_choice{
    width: 100%;
    padding-bottom: 20px;
}
.epay_type{
    margin-top: 45px;
    margin-left: 25px;
}
.epay_type li{
    float: left;
    width: 238px;
    height: 143px;
    border: 1px solid #eef1f9;
    border-radius: 3px;
    margin-left: 30px;
}
.epay_type li:hover{
    border: 1px solid #4696e4;
}

.epay_type_logo{
    background: url("/public/images/sprite.png") no-repeat;
    width: 130px;
    height: 40px;
    background-position: 0 -78px;
    margin-top: 10px;
    margin-bottom: 18px;
    margin-left: 53px;
}
.epay_type_app{
    width: 60px;
    margin: 0 auto;
    height: 20px;
    margin-top: 15px;
}
.epay_type_app label{
    font-size: 14px;
    color: #354285;
}
.epay_type_account{
    width: 200px;
    margin: 0 auto;
    height: 33px;
    line-height: 33px;
    margin-top: 5px;
    border-top: 1px solid #eef1f9;
    position: relative;
    font-size: 14px;
    color: #354285;
}
.epay_type_account span{
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
    background: url("/public/images/sprite.png") no-repeat;
    width: 15px;
    height: 15px;
    background-position: -83px -195px;
    cursor: pointer;
}
.wechat_logo{
    background-position: 0 -116px;
}
.zhifubao_logo{
    background-position: 0 -154px;
}
.choose-channel {
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 20px;
    border-bottom: 1px solid #eef1f9;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.choose-channel a {
    float: left;
    display: block;
    width: 80px;
    line-height: 25px;
    height: 25px;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    margin-right: 14px;
}
.active {
    background-color: #1996e9;
    color: #ffffff;
}
.channel-disable {
    height: 100%;
    background-color: #e4e4e6;
    opacity: 0.7;
}
.toggle-switch-wrapper {
    float: right;
    margin: 2px;
}
.toggle-switch {
    height: inherit;
}
/*渠道选择中的弹出层*/
.channel_choice_mask{
    /*display: none;*/
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(178,178,178,.7);
}
.has_account{
    width: 440px;
    height: 280px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 100px;
}
.has_account_title{
    font-size: 20px;
    color: #354285;
    font-weight: bold;
    width: 395px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eef1f9;
}
.account_list{
    margin-left: 20px;
    margin-top: 23px;
}
.account_list li{
    margin-bottom: 10px;
}
.account_list label{
    font-size: 16px;
    color: #354285;
}
.add_btn{
    margin-top: 40px;
}
.add_account_btn{
    float: left;
    width: 148px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    color: #4696e4;
    border: 1px solid #4696e4;
    margin-left: 70px;
}
.none_account{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 440px;
    height: 280px;
    margin-top: -220px;
    margin-left: -220px;
    background-color: #ffffff;
    z-index: 99;
}
.add_sure_btn{
    float: left;
    width: 95px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #4696e4;
    margin-left: 50px;
}
.has_none_account{
    font-size: 16px;
    color: #354285;
    text-align: center;
    margin-top: 60px;
}
.add_account{
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #4696e4;
    margin: 0 auto;
    margin-top: 50px;
}
.add_account a{
    color: #ffffff;
}
.add_account_btn a{
    color: #4696e4;
    width: 100%;
    height: 100%;
    display: block;
}

.block_show{
    display: block;
}
.nav_show{
    background-color: #fafbfe;
    color: #4596e4;
}
