<div class="channel_choice block_show">
    <p class="common_title">渠道选择</p>
    <ul class="epay_type clearfix">
        <li>
            <div class="epay_type_logo"></div>
            <div class="epay_type_app" data-appid="0">
                <input type="checkbox" id="app_1">
                <label for="app_1">应用</label>
            </div>
            <p class="epay_type_account">账号：公司账户231<span></span></p>
        </li>
        <li>
            <div class="epay_type_logo wechat_logo"></div>
            <div class="epay_type_app" data-appid="1">
                <input type="checkbox" id="app_2">
                <label for="app_2">应用</label>
            </div>
            <!--<p class="epay_type_account">账号：公司账户231<span></span></p>-->
        </li>
        <li>
            <div class="epay_type_logo zhifubao_logo"></div>
            <div class="epay_type_app" data-appid="2">
                <input type="checkbox" id="app_3">
                <label for="app_3">应用</label>
            </div>
            <p class="epay_type_account">账号：公司账户231<span></span></p>
        </li>
    </ul>
</div>