.usual_setting_list{
    margin-left: 25px;
    margin-top: 20px;
}
.usual_setting_list li{
    margin-bottom: 20px;
}
.list_name{
    display: inline-block;
    width: 110px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #354285;
    margin-right: 20px;
}
.usual_setting_list input{
    width: 430px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: 0;
    border: 1px solid #eef1f9;
    background-color: #fafbfe;
    border-radius: 3px;
}
.list_sure_btn{
    font-size: 16px;
    color: #ffffff;
    width: 150px;
    height: 30px;
    margin: 0 auto;
    margin-top: 40px;
    line-height: 30px;
    text-align: center;
    background-color: #4696e4;
    border: 0px;
    border-radius: 3px;
}
.app_logo_img {
    width: 170px;
    height: 70px;
    margin-right: 20px;
    position: relative;
    background: url("/public/images/logo_up.png");
}

.app_logo_img img{
    display: block;
    width: 100%;
    height: 100%;
}

.file_up{
    display: inline-block;
    position: relative;
}
.file_up_img{
    display: block;
    float: left;
    width: 170px;
    height: 65px;
    border-radius: 3px;
}
.file_up input{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 170px;
    height: 65px;
    opacity: 0;
    z-index: 10;
}
.file_up_btn{
    float: left;
    font-size: 16px;
    color: #ffffff;
    width: 70px;
    height: 23px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 23px;
    text-align: center;
    background-color: #4696e4;
    border-radius: 3px;
    margin-left: 22px;
}
.logo_name{
    position: relative;
    top: -25px;
}