<div class="pannel">
    <p class="common_title">收入总计</p>
    <p class="income_total_date">
        <input type="text" class="daterange" placeholder="创建日期"
               value="{{searchParams.orderTimeBegin.toDate() | date:'yyyy/MM/dd'}} - {{searchParams.orderTimeEnd.toDate() | date:'yyyy/MM/dd'}}" />
        <span></span>
    </p>
    <div class="clearfix"></div>
    <ul class="trade_data clearfix">
        <li>
            <p class="data_name">发起订单（笔）</p>
            <p class="data_figure">{{dataSummary.preOrderCount}}</p>
        </li>
        <li>
            <p class="data_name">成功订单（笔）</p>
            <p class="data_figure">{{dataSummary.orderCount}}</p>
        </li>
        <li>
            <p class="data_name">订单转化率</p>
            <p class="data_figure">{{dataSummary.conversion*100}}%</p>
        </li>
    </ul>
    <div class="homepage_title chart_back">
        <p class="homepage_title_infor">订单金额/退款单交易数变化(笔)</p>
        <div id="orderChargeCount" style="width: 90%;height:500px;"></div>
    </div>
    <div class="homepage_title chart_back">
        <p class="homepage_title_infor">渠道交易数变化(笔)</p>
        <div id="channelChargeCount" style="width: 90%;height:500px;"></div>
    </div>
</div>